.container2 {
	display: flex;
	margin-top: 100px;
	height: 82vh;
	margin-bottom: 100px;
	overflow-y: scroll;
	box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
	margin-left: auto;
	margin-right: auto;
}
